<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" value="text/html;charset=utf8">
        <title>{{$title}}{{/title}}</title>
    </head>
    <body>
        <h1>{{$title}}{{/title}}</h1>
        {{$content}}
        {{/content}}
    </body>
</html>